<footer class="navbar">

  <div class="nav active" onclick="window.location.href='/pages/home.html'">
    🏠
    <span>Home</span>
  </div>

  <div class="nav" onclick="window.location.href='/pages/add-photo.html'">
    📷
    <span>Add Photo</span>
  </div>

  <div class="nav" onclick="window.location.href='/pages/friends.html'">
    👥
    <span>Friends</span>
  </div>

  <div class="nav" onclick="window.location.href='/pages/chat.html'">
    💬
    <span>Chat</span>
  </div>

  <div class="nav" onclick="window.location.href='/pages/me.html'">
    👤
    <span>Me</span>
  </div>

</footer>

<button class="help" onclick="window.location.href='/pages/help.html'">ⓘ Help</button>